<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155075492045-dcrqbibhl8b2kau4qau999d4oje1f47k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155075492045-dcrqbibhl8b2kau4qau999d4oje1f47k</string>
	<key>API_KEY</key>
	<string>AIzaSyAzvtWywYubzb_ym6DvJDdw5G-OJOd4r-I</string>
	<key>GCM_SENDER_ID</key>
	<string>155075492045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsquared.SectionSniper</string>
	<key>PROJECT_ID</key>
	<string>section-sniper-eb03e</string>
	<key>STORAGE_BUCKET</key>
	<string>section-sniper-eb03e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:155075492045:ios:ad75770bebc721df4b1184</string>
	<key>DATABASE_URL</key>
	<string>https://section-sniper-eb03e.firebaseio.com</string>
</dict>
</plist>
